@import '~antd/dist/antd.css';
/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

@media (min-width: 576px) {
.container {
  width: 540px;
}
} 

@media (min-width: 768px) {
.container {
  width: 720px;
}
} 

@media (min-width: 992px) {
.container {
  width: 960px;
}
} 

@media (min-width: 1200px) {
.container {
  width: 1140px;
}
} 

@media (min-width: 1600px) {
.container {
  width: 1500px;
}
} 

/*layout*/
.layout-header,
.ant-layout,
.main-layout{
  background-color: #fff;
}

.opacity-2 {
  opacity: 0.4;
}

.opacity-3 {
  opacity: 0.6;
}


/*header*/
.header{
  padding-top: 10px;
  display: flex;
  width:100%;
  justify-content:center;
  align-items: center;
}
.header-title{
  color:#FFC72D;
}
.header-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:200px;
  height:27px;
}
.header-icon1{
  width:15px;
  height:15px
}
.header-content{
  width:1300px;
}
.header-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:500px;
  color:#000000;
}
.menu1{
  display:inline;
}
.header-pic{
  width:100%;
  margin-top: 20px;
}
/*product*/
.product{
  justify-content: center;
}
.product1{
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.product-title {
  font-weight: bold;
}

.more {
  display: flex;
  justify-content: flex-end;
}

.border1{
  border-color: #FFC72D;
  border-style: solid;
  box-shadow:  0px 3px 6px #00000029;
}
.bg{
  /*background-color: #FFF7E1;*/
  width: 100%;
}


.hr-header-line {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366F2;
  opacity: 1;
}

.hr-footer-line {
  margin: 25px auto 30px;
  padding: 0;
  width: 300px;
  border: 0;
  border-top: solid 2px;
  border-color: #3e3f97;
  opacity: 1;
}


.text-color-1 {
  color: #8183ff;
}

/*footer*/
h4{
  font-size: 2rem;
}

.atn-layout {
  background: #fff;
}

.layout-footer{
  background: #fff;
  margin-top:4rem;
  padding:0px;
  width: 100%;
  padding: 0;
}
.footer{
  width:100%;
  margin: 0;
}
.footer-container{
  width: 100%;
}
/* footer up */
.footer-up{
  display: flex;
  background-color: #FFC72D;
  justify-content: center;
  padding: 2rem;
}

.subscribe{
  margin-right: 0px;
  width:65%;
}

.subscribe-title{
  color:#fff;
  margin: 0;
}

.subscribe-subtitle{
  color:#426393;
  margin: 0;
}

.subscribe-box{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.subscribe-email {
  width: 80%;
}

.subscribe-box input#search{
  width: 100%;
  height: 3rem;
  background: #fff;
  border: none;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

.subscribe-btn{
  border: none;
  background: #426393;
  height:3rem;
  width: 100%;
  color: #fff;
  border-radius: 0.3rem;
}

.div-subscribe-btn {
  text-align: center;
  width: 20%;
}
/* footer down */
.footer-down {
  width: 65%;
  display: flex;

  padding: 2rem;
  flex-wrap: wrap;
}

footer .icons {
  width: 50%;
  margin-top: 1rem;
}
/* left area */
.your-home {
  width: 100%;
  margin: 0;
}

.footer-icon{
  width: 1.5rem;
  height:1.5rem;
  margin-right: 2rem;
}
/* right area */
.footer-down-right{
  display: flex;
  flex-direction: row;
}

.icons li{
  list-style-type: none;
  padding: 2px; 
}

.icons li :hover{
  color: #FFC72D;
}

ul {
  padding: 0;
  margin: 0;
}

.footer-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-about{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1rem;
  padding: 2px;
}

.footer-help{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1rem;
  padding: 2px;
}

.footer-shop{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1rem;
  padding: 2px;
}

.options-title {
  color: #FFC72D;
  font-size: 1rem;
  font-weight: bold;
}

.options {
  color: #426393;
}

.footer-line {
  margin: 2rem auto 30px;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: solid 2px;
  border-color: #FFC72D;
  opacity: 1;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #FFC72D;
}

@media (max-width: 768px) {
  .footer-down-right{
    flex-direction: column;
  }
  .footer-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 992px) {
  .subscribe {
    width: 80%;
  }
  .subscribe-box {
    display: flex;
    justify-content: flex-end;
    font-size: 0.6rem;
  }
  .subscribe-email {
    width: 100%;
    margin-bottom: 1rem;
  }
  footer .icons{
    width: 100%;
  }
  .footer-down {
    width: 80%;
  }
  .footer-options {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-about{
    width: 50%;
  }
  .footer-help{
    width: 50%;
  }
  .footer-shop{
    width: 50%;
  }
}

/*product-detail*/
.detail-container{
  width: 100%;
}

.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.shop-top-right{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shop-top-right-container{
  width: 100%;
}

.related-products-images{
  display: flex;
  justify-content: space-around;
}

.product-top-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}


.btn-tocar{
  background-color: #426393;
  width:100%;
  height:3rem;
  border-radius: 0.3rem;
}

.description{
  width: 5rem;
  margin-bottom:0px;
  font-weight: bold;
  border-bottom: 2px solid #FFC72D;
  margin-bottom: 1rem;
}

.products-image{
  width:100%;
  height:100%;
}

.related-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC72D;
  width:2.5rem;
  height:3.5rem;
  border-color:#FFC72D; 
  border-radius: 0.5rem;
}
.btn2{
  display: flex;
  justify-content: flex-end;
}

.related-arrow{
  width:24px;
  height:24px;
}
