@import '~antd/dist/antd.css';
/* RWD Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
  
}

@media (min-width: 576px) {
.container {
  width: 540px;
}
} 

@media (min-width: 768px) {
.container {
  width: 720px;
}
} 

@media (min-width: 992px) {
.container {
  width: 960px;
}
} 

@media (min-width: 1200px) {
.container {
  width: 1140px;
}
} 

@media (min-width: 1600px) {
.container {
  width: 1500px;
}
} 

/*layout*/
.layout-header,
.ant-layout,
.main-layout{
  background-color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.opacity-2 {
  opacity: 0.4;
}

.opacity-3 {
  opacity: 0.6;
}


/*header*/
.header{
  display: flex;
  width:100%;
  height: 100%;
  justify-content:space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  margin-top: 1rem;
}

h3 {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-title{
  color:#FFC72D;
  width:100%;
  line-height: normal;
}

.header-text {
  width:20%;
}

/* .header li {
  list-style-type: none;
  width: 15%;
  text-align: center;
}

.header li :hover{
  color: #FFC72D;
} */

.header-icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:20%;
}

.header-icon1{
  width: 1rem;
  height:1rem;
}

.navbar {
  width: 80%;
}

.header-word {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

.menu1{
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  color: #3e3f97;
  width: 15%;
  white-space: normal;
  line-height: normal;
  padding: 2px;
}


.menu1:before {
  color: #FFC72D;
  opacity: 1;
}

.menu1--active {
  opacity: 1;
}

.header-pic{
  width:100%;
  margin-top: 20px;
}

/* nav */
.collapse-mobile-wrap{
  display:none;
}

.ham-bt{
  margin-left: auto;
  width:3rem;
  height:3rem;
}
.nav-bar-ham{
    background-color: #111828;
    position:absolute;
    z-index: 100;
    width:80%;
    height:100%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 576px) {
  .collapse-mobile-wrap{
    display:flex;
    background-color:pink;
  }

} 

@media (max-width:768px){
  .collapse-mobile{
    transform: translateX(-200%);
  }
  /* .header-title {
    width: 15%;
  }
  .navbar {
    width: 85%;
  } */
  .menu1 {
    width: 30%;
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  .container {
    width: 960px;
  }
  .header h3 {
    font-size: 1.5rem;
  }
  .header-title {
    width: 15%;
  }
  .navbar {
    width: 85%;
  }
  .menu1 {
    width: 20%;
  }
} 
  


/*product*/
.product{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ant-card-body{
  padding: 0;
}

.big-container {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
}

h5 {
  font-size: 1rem;
}

.text-center {
  width: 100%;
}

.product-title {
  font-weight: bold;
}

.more {
  display: flex;
  justify-content: flex-end;
  color: #3e3f97;
}

.more :hover{
  color: #FFC72D;
}

.product-pic {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.home-product{
  border-color: #FFC72D;
  border-style: solid;
  box-shadow:  0px 3px 6px #00000029;
}
.bg{
  /*background-color: #FFF7E1;*/
  width: 100%;
}

.product-info  {
  padding: 1rem;
  text-align: left;
}
/* designer */
.designer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
/* top */
.designer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.designer-pic{
  width: 50%;
  height: 25rem;
  object-fit: cover;
  object-position: center;
}

.imformation-box{
  width: 45%;
  display: flex;
  justify-content: center;
} 

.designer-intro {
  width: 30%;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.designer-name{
  color: #3e3f97;
  margin-bottom: 2rem;
}
/* btn */
.designer-btn{
  width: 20%;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.learn-more {
  width: 100%;
  height: 3rem;
  color: white;
  background-color: #FFC72D;
  border: none;
  white-space: normal;
}
/* bottum */
.works {
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.designer-work {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.designer-work1 {
  width: 100%;
  padding: 5px;
}

.designer-work-pic {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

@media (max-width:768px){
  .designer-info {
    flex-direction: column;
    align-items: center;
  }
  .imformation-box{
    margin-top: 2rem;
    width: 80%;
    flex-direction: column;
  }
  .designer-intro {
    width: 100%;
  }
  .designer-name{
    margin-bottom: 1rem;
  }
  .works {
    width: 100%;
 
  }
  .designer-btn{
    width: 40%;
    margin-left: auto;
  }
  .designer-pic {
    width: 100%;
    object-position: top;
  }
  .designer-container {
    width: 100%;
  }
  .big-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .more {
    margin-left: auto;
  }
  .designer-work {
    flex-direction: column;
  }
}

/*footer*/
h4{
  font-size: 1.5rem;
}

.atn-layout {
  background: #fff;
}

.layout-footer{
  background: #fff;
  margin-top:4rem;
  padding:0px;
  width: 100%;
  padding: 0;
}
.footer{
  width:100%;
  margin: 0;
}
.footer-container{
  width: 100%;
}
/* footer up */
.footer-up{
  display: flex;
  background-color: #FFC72D;
  justify-content: center;
  padding: 2rem;
}

.subscribe{
  margin-right: 0px;
  width:65%;
}

.subscribe-title{
  color:#fff;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subscribe-subtitle{
  color:#426393;
  margin: 0;
}

.subscribe-box{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.subscribe-email {
  width: 80%;
}

.subscribe-box input#search{
  width: 100%;
  height: 3rem;
  background: #fff;
  border: none;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

.subscribe-btn{
  border: none;
  background: #426393;
  height:3rem;
  width: 100%;
  color: #fff;
  border-radius: 0.3rem;
}

.div-subscribe-btn {
  text-align: center;
  width: 20%;
}
/* footer down */
.footer-down {
  width: 65%;
  display: flex;

  padding: 2rem;
  flex-wrap: wrap;
}

footer .icons {
  width: 50%;
  margin-top: 1rem;
}
/* left area */
.your-home {
  width: 100%;
  margin: 0;
  color: #FFC72D;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-icon{
  width: 1.5rem;
  height:1.5rem;
  margin-right: 2rem;
}
/* right area */
.footer-down-right{
  display: flex;
  flex-direction: row;
}

.icons li{
  list-style-type: none;
  padding: 2px; 
}

.icons li :hover{
  color: #FFC72D;
}

ul {
  padding: 0;
  margin: 0;
}

.footer-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-about{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1rem;
  padding: 2px;
}

.footer-help{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1rem;
  padding: 2px;
}

.footer-shop{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-bottom: 1rem;
  padding: 2px;
}

.options-title {
  color: #FFC72D;
  font-size: 1rem;
  font-weight: bold;
}

.options {
  color: #426393;
}

.footer-line {
  margin: 2rem auto 30px;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: solid 2px;
  border-color: #FFC72D;
  opacity: 1;
}

.copyright {
  display: flex;
  justify-content: center;
  color: #FFC72D;
}

@media (max-width: 768px) {
  .footer-down-right{
    flex-direction: column;
  }
  .footer-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 992px) {
  .subscribe {
    width: 80%;
  }
  .subscribe-box {
    display: flex;
    justify-content: flex-end;
    font-size: 0.6rem;
  }
  .subscribe-email {
    width: 100%;
    margin-bottom: 1rem;
  }
  footer .icons{
    width: 100%;
  }
  .footer-down {
    width: 80%;
  }
  .footer-options {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-about{
    width: 50%;
  }
  .footer-help{
    width: 50%;
  }
  .footer-shop{
    width: 50%;
  }
}

/*product-detail*/
.detail-container{
  width: 100%;
}

.shop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.shop-top-right{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.shop-top-right-container{
  width: 100%;
}

.related-products-images{
  display: flex;
  justify-content: space-around;
}

.product-top-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}


.btn-tocar{
  background-color: #426393;
  width:100%;
  height:3rem;
  border-radius: 0.3rem;
}

.description{
  width: 5rem;
  margin-bottom:0px;
  font-weight: bold;
  border-bottom: 2px solid #FFC72D;
  margin-bottom: 1rem;
}

.products-image{
  width:100%;
  height:100%;
}

.related-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC72D;
  width:2.5rem;
  height:3.5rem;
  border-color:#FFC72D; 
  border-radius: 0.5rem;
}
.btn2{
  display: flex;
  justify-content: flex-end;
}

.related-arrow{
  width:24px;
  height:24px;
}
